In [1]:
import pandas as pd
#read fild

cnm = pd.read_csv("cnm.csv", encoding='ISO-8859-1')
caf = pd.read_csv("caf.csv", encoding='ISO-8859-1')
cwf = pd.read_csv("cwf.csv", encoding='ISO-8859-1')

In [2]:
cnm.tail()
caf.tail()
cwf.tail()

            ªï·s¦W³æ
28            ÁÂ»y»»
29            ªL¨KâÎ
30              ³¯Îd
31            ³¯¤h¬è
32  Marybelle Garcia

In [3]:
import pandas as pd
#read fild

cnm = pd.read_csv("cnm.csv", encoding='big5')
caf = pd.read_csv("caf.csv", encoding='big5')
cwf = pd.read_csv("cwf.csv", encoding='big5')

In [4]:
cnm.tail()

   新生名單
40  黃禮佑
41  劉力誠
42   蕭佑
43  林欣楷
44  詹鈞揚

In [5]:
caf.tail()

           試音名單
39          方心慈
40          鄭昕霈
41  Britta Jahn
42          蔡晉瑞
43          申蕎榕

In [6]:
cwf.tail()

                迎新名單
28               謝語遙
29               林沛瑢
30                陳姮
31               陳士祈
32  Marybelle Garcia

In [7]:
print("新生名單:",len(cnm),"試音名單:",len(caf),"迎新名單:",len(cwf))

新生名單: 45 試音名單: 44 迎新名單: 33

In [8]:
cnm_df = cnm.drop_duplicates(subset=['新生名單'])
cnm_df.head()

  新生名單
0  于千惠
1  安欣怡
2  許傑玫
3   瀅熙
4  陳士祈

In [9]:
print("新生名單:",len(cnm),"試音名單:",len(caf),"迎新名單:",len(cwf))

新生名單: 45 試音名單: 44 迎新名單: 33

In [10]:
caf_df = caf.drop_duplicates(subset=['試音名單'])
caf_df.head()
cwf_df = cwf.drop_duplicates(subset=['迎新名單'])
cwf_df.head()

  迎新名單
0  林璇彩
1  吳彥儀
2  李丞桓
3  詹鈞揚
4  何柏萱

In [11]:
caf_df = caf.drop_duplicates(subset=['試音名單'])
caf_df.head()

  試音名單
0  林璇彩
1  吳彥儀
2  李丞桓
3  洪婉晴
4  傅晨寧

In [12]:
print("新生名單:",len(cnm),"試音名單:",len(caf),"迎新名單:",len(cwf))

新生名單: 45 試音名單: 44 迎新名單: 33

In [13]:
cnm

      新生名單
0      于千惠
1      安欣怡
2      許傑玫
3       瀅熙
4      陳士祈
5      鄭欣恬
6      王婉薰
7      張憶文
8       旭奇
9      謝語遙
10     郭惠茹
11      陳姮
12     楊卿雲
13     何柏萱
14     俞孟昀
15     夏婉妮
16     龍俞孜
17     吳彥儀
18     林邑樺
19     林恝糸
20     林璇彩
21     許博涵
22     廖翊雯
23     齊雅立
24     陳凱倪
25     申蕎榕
26     莫靄冰
27   Lilly
28     李熔熔
29     盧怡仁
30     詹弘祥
31     劉冠廷
32     鄭昕霈
33     李丞桓
34     蔡晉瑞
35     敬文賢
36     陳崑賢
37  Graham
38     葉宗昀
39     張少萁
40     黃禮佑
41     劉力誠
42      蕭佑
43     林欣楷
44     詹鈞揚

In [20]:
print(caf,cnm)
print(set(caf).intersection(set(cnm)))

           試音名單
0           林璇彩
1           吳彥儀
2           李丞桓
3           洪婉晴
4           傅晨寧
5           施博瀚
6           何柏萱
7           許博涵
8           劉冠廷
9           林恝糸
10          莫靄冰
11          廖翊雯
12          安欣怡
13          林元方
14          齊雅立
15          俞孟昀
16          張少萁
17          劉力誠
18           陳姮
19          王婉薰
20          吳宜庭
21          陳士祈
22          張憶文
23           瑩熙
24          于千惠
25          詹弘祥
26           蕭佑
27          陳崑賢
28          謝語遙
29          黃禮佑
30          郭惠茹
31          盧怡仁
32          林邑樺
33          李熔熔
34          龍俞孜
35          敬文賢
36          許傑玫
37          夏婉妮
38          林欣楷
39          方心慈
40          鄭昕霈
41  Britta Jahn
42          蔡晉瑞
43          申蕎榕       新生名單
0      于千惠
1      安欣怡
2      許傑玫
3       瀅熙
4      陳士祈
5      鄭欣恬
6      王婉薰
7      張憶文
8       旭奇
9      謝語遙
10     郭惠茹
11      陳姮
12     楊卿雲
13     何柏萱
14     俞孟昀
15     夏婉妮
16     龍俞孜
17     吳彥儀
18     林邑樺
19     林恝糸
20     林璇彩
21     許博涵
22     廖翊雯
23     齊雅立
24     陳凱倪
25     申蕎榕
26     莫靄冰
27   Lilly
28     李熔熔
29     盧怡仁
30     詹弘祥
31     劉冠廷
32     鄭昕霈
33     李丞桓
34     蔡晉瑞
35     敬文賢
36     陳崑賢
37  Graham
38     葉宗昀
39     張少萁
40     黃禮佑
41     劉力誠
42      蕭佑
43     林欣楷
44     詹鈞揚
set()

In [15]:
set(cnm).difference(set(caf))

{'新生名單'}

In [22]:
cnm_df = list(cnm['新生名單'])
cnm_df

['于千惠',
 '安欣怡',
 '許傑玫',
 '瀅熙',
 '陳士祈',
 '鄭欣恬',
 '王婉薰',
 '張憶文',
 '旭奇',
 '謝語遙',
 '郭惠茹',
 '陳姮',
 '楊卿雲',
 '何柏萱',
 '俞孟昀',
 '夏婉妮',
 '龍俞孜',
 '吳彥儀',
 '林邑樺',
 '林恝糸',
 '林璇彩',
 '許博涵',
 '廖翊雯',
 '齊雅立',
 '陳凱倪',
 '申蕎榕',
 '莫靄冰',
 'Lilly',
 '李熔熔',
 '盧怡仁',
 '詹弘祥',
 '劉冠廷',
 '鄭昕霈',
 '李丞桓',
 '蔡晉瑞',
 '敬文賢',
 '陳崑賢',
 'Graham',
 '葉宗昀',
 '張少萁',
 '黃禮佑',
 '劉力誠',
 '蕭佑',
 '林欣楷',
 '詹鈞揚']

In [24]:
caf_df = list(caf['試音名單'])
caf_df

['林璇彩',
 '吳彥儀',
 '李丞桓',
 '洪婉晴',
 '傅晨寧',
 '施博瀚',
 '何柏萱',
 '許博涵',
 '劉冠廷',
 '林恝糸',
 '莫靄冰',
 '廖翊雯',
 '安欣怡',
 '林元方',
 '齊雅立',
 '俞孟昀',
 '張少萁',
 '劉力誠',
 '陳姮',
 '王婉薰',
 '吳宜庭',
 '陳士祈',
 '張憶文',
 '瑩熙',
 '于千惠',
 '詹弘祥',
 '蕭佑',
 '陳崑賢',
 '謝語遙',
 '黃禮佑',
 '郭惠茹',
 '盧怡仁',
 '林邑樺',
 '李熔熔',
 '龍俞孜',
 '敬文賢',
 '許傑玫',
 '夏婉妮',
 '林欣楷',
 '方心慈',
 '鄭昕霈',
 'Britta Jahn',
 '蔡晉瑞',
 '申蕎榕']

In [25]:
cwf_df = list(cwf['迎新名單'])
cwf_df

['林璇彩',
 '吳彥儀',
 '李丞桓',
 '詹鈞揚',
 '何柏萱',
 '龍俞孜',
 '陳崑賢',
 '王家鳳',
 '俞孟昀',
 '施博瀚',
 '蔡晉瑞',
 '鄭昕霈',
 '林元方',
 '吳宜庭',
 '張少萁',
 '黃禮佑',
 '林欣楷',
 '盧怡仁',
 '李熔熔',
 '許博涵',
 '方心慈',
 '劉冠廷',
 '林恝糸',
 '王婉薰',
 '莫靄冰',
 '楊卿雲',
 '廖翊雯',
 '蕭佑',
 '謝語遙',
 '林沛瑢',
 '陳姮',
 '陳士祈',
 'Marybelle Garcia']

In [26]:
print(caf_df,cnm_df)
print(set(caf_df).intersection(set(cnm_df)))

['林璇彩', '吳彥儀', '李丞桓', '洪婉晴', '傅晨寧', '施博瀚', '何柏萱', '許博涵', '劉冠廷', '林恝糸', '莫靄冰', '廖翊雯', '安欣怡', '林元方', '齊雅立', '俞孟昀', '張少萁', '劉力誠', '陳姮', '王婉薰', '吳宜庭', '陳士祈', '張憶文', '瑩熙', '于千惠', '詹弘祥', '蕭佑', '陳崑賢', '謝語遙', '黃禮佑', '郭惠茹', '盧怡仁', '林邑樺', '李熔熔', '龍俞孜', '敬文賢', '許傑玫', '夏婉妮', '林欣楷', '方心慈', '鄭昕霈', 'Britta Jahn', '蔡晉瑞', '申蕎榕'] ['于千惠', '安欣怡', '許傑玫', '瀅熙', '陳士祈', '鄭欣恬', '王婉薰', '張憶文', '旭奇', '謝語遙', '郭惠茹', '陳姮', '楊卿雲', '何柏萱', '俞孟昀', '夏婉妮', '龍俞孜', '吳彥儀', '林邑樺', '林恝糸', '林璇彩', '許博涵', '廖翊雯', '齊雅立', '陳凱倪', '申蕎榕', '莫靄冰', 'Lilly', '李熔熔', '盧怡仁', '詹弘祥', '劉冠廷', '鄭昕霈', '李丞桓', '蔡晉瑞', '敬文賢', '陳崑賢', 'Graham', '葉宗昀', '張少萁', '黃禮佑', '劉力誠', '蕭佑', '林欣楷', '詹鈞揚']
{'黃禮佑', '齊雅立', '鄭昕霈', '敬文賢', '盧怡仁', '俞孟昀', '王婉薰', '謝語遙', '李丞桓', '安欣怡', '劉冠廷', '郭惠茹', '李熔熔', '廖翊雯', '申蕎榕', '莫靄冰', '許傑玫', '張少萁', '林欣楷', '詹弘祥', '林恝糸', '夏婉妮', '蕭佑', '林邑樺', '劉力誠', '陳崑賢', '龍俞孜', '何柏萱', '吳彥儀', '陳姮', '于千惠', '陳士祈', '蔡晉瑞', '張憶文', '許博涵', '林璇彩'}

In [27]:
print(set(caf_df).intersection(set(cnm_df)))

{'黃禮佑', '齊雅立', '鄭昕霈', '敬文賢', '盧怡仁', '俞孟昀', '王婉薰', '謝語遙', '李丞桓', '安欣怡', '劉冠廷', '郭惠茹', '李熔熔', '廖翊雯', '申蕎榕', '莫靄冰', '許傑玫', '張少萁', '林欣楷', '詹弘祥', '林恝糸', '夏婉妮', '蕭佑', '林邑樺', '劉力誠', '陳崑賢', '龍俞孜', '何柏萱', '吳彥儀', '陳姮', '于千惠', '陳士祈', '蔡晉瑞', '張憶文', '許博涵', '林璇彩'}

In [28]:
print(set(caf_df).difference(set(cnm_df)))

{'方心慈', '吳宜庭', '施博瀚', '洪婉晴', '林元方', 'Britta Jahn', '瑩熙', '傅晨寧'}

In [29]:
print(set(cnm_df).difference(set(caf_df)))

{'詹鈞揚', '鄭欣恬', '陳凱倪', '葉宗昀', 'Lilly', '瀅熙', '旭奇', 'Graham', '楊卿雲'}

In [30]:
print(set(cwf_df).difference(set(cnm_df)))

{'Marybelle Garcia', '方心慈', '王家鳳', '吳宜庭', '施博瀚', '林元方', '林沛瑢'}